@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: Poppin_bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

/*SF Pro family*/
@font-face {
  font-family: "SFProDisplay Black";
  src: url("../fonts/SF Pro Display/SFProDisplay-Black.ttf");	  
}
@font-face {
  font-family: 'SFProDisplay Bold';
  src: url("../fonts/SF Pro Display/SFProDisplay-Bold.ttf");	  
}@font-face {
  font-family: 'SFProDisplay Heavy';
  src: url("../fonts/SF Pro Display/SFProDisplay-Heavy.ttf");	  
}@font-face {
  font-family: 'SFProDisplay Light';
  src: url("../fonts/SF Pro Display/SFProDisplay-Light.ttf");	  
}@font-face {
  font-family: 'SFProDisplay Medium';
  src: url("../fonts/SF Pro Display/SFProDisplay-Medium.ttf");	  
}@font-face {
  font-family: 'SFProDisplay Regular';
  src: url("../fonts/SF Pro Display/SFProDisplay-Regular.ttf");	  
}@font-face {
  font-family: 'SFProDisplay Semibold';
  src: url("../fonts/SF Pro Display/SFProDisplay-Semibold.ttf");	  
}@font-face {
  font-family: 'SFProDisplay Thin';
  src: url("../fonts/SF Pro Display/SFProDisplay-Thin.ttf");	  
}
@font-face {
  font-family: 'SFProDisplay Ultralight';
  src: url("../fonts/SF Pro Display/SFProDisplay-Ultralight.ttf");	  
}




/*playfair display*/

@font-face {
  font-family:"PlayfairDisplay VariableFont wght";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");	  
}

@font-face {
  font-family: "PlayfairDisplay Bold";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf");	  
}









/*SF display compact family*/
@font-face {
  font-family: "SF Display Bold";
  src: url("../fonts/SF Display/SFCompactDisplay-Bold.ttf");	  
}
@font-face {
  font-family:"SF Display Regular";
  src: url("../fonts/SF Display/SFCompactDisplay-Regular.ttf")
}
@font-face {
  font-family:'SF Display Black';
 src: url("../fonts/SF Display/SFCompactDisplay-Black.ttf")
}
@font-face {
  font-family:'SF Display Heavy';
  src: url("../fonts/SF Display/SFCompactDisplay-Heavy.ttf")
}
@font-face {
  font-family:'SF Display Light';
  src: url("../fonts/SF Display/SFCompactDisplay-Light.ttf")
}
@font-face {
  font-family:'SF Display Medium';
  src: url("../fonts/SF Display/SFCompactDisplay-Medium.ttf")
}@font-face {
 
	font-family:'SF Display Semi Bold';
  src: url("../fonts/SF Display/SFCompactDisplay-SemiBold.ttf")
}
@font-face {
  font-family:'SF Display Thin';
  src: url("../fonts/SF Display/SFCompactDisplay-Thin.ttf")
}
@font-face {
  font-family:'SF Display UltraLight';
  src: url("../fonts/SF Display/SFCompactDisplay-UltraLight.ttf")
}	  


/* Font Montserrat*/
@font-face {
  font-family:"Montserrat Black";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf")
}	
@font-face {
  font-family:'Montserrat BlackItalic';
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf")
}	
@font-face {
  font-family:'Montserrat Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf")
}	
@font-face {
  font-family:'Montserrat BoldItalic';
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf")
}	
@font-face {
  font-family:'Montserrat Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf")
}	
@font-face {
  font-family:'Montserrat Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf")
}	

@font-face {
  font-family:'Montserrat SemiBold';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf")
}	
@font-face {
  font-family:'Montserrat Thin';
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf")
}	


